---
import Navbar from "../components/Navbar";
import "@fontsource/montserrat";

export interface Props {
  title: string;
  description: string | undefined;
}

const { title, description } = Astro.props;
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en" class="bg-dark-500 selection:bg-red-500">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <script>
      import "../utils/smoothNav.ts";
    </script>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="stylesheet"
      href="/Users/mitchellparker/Documents/AAA Studies/websites/astro-main-portfolio-ambience/public/gradient.css"
    />
  </head>
  <body>
    <div class="gradient"></div>
    <Navbar client:load currentPath={currentPath} />
    <div class="z-40 relative 2xl:max-w-7xl mx-auto">
      <slot />
    </div>
    <script
      src="/Users/mitchellparker/Documents/AAA Studies/Astro-portfolio/public/gradient.js"
    ></script>
  </body>

  <style is:global>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    @layer base {
      html {
        font-family: "Montserrat", sans-serif;
      }
    }

    /* Montserrat Regular */
    @font-face {
      font-family: "Montserrat";
      src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
      font-weight: 400;
      font-style: normal;
    }

    /* Montserrat Light */
    @font-face {
      font-family: "Montserrat";
      src: url("/fonts/Montserrat-Light.ttf") format("truetype");
      font-weight: 300;
      font-style: normal;
    }

    /* Montserrat ExtraLight */
    @font-face {
      font-family: "Montserrat";
      src: url("/fonts/Montserrat-ExtraLight.ttf") format("truetype");
      font-weight: 200;
      font-style: normal;
    }

    /* Montserrat Thin */
    @font-face {
      font-family: "Montserrat";
      src: url("/fonts/Montserrat-Thin.ttf") format("truetype");
      font-weight: 100;
      font-style: normal;
    }

    /* Montserrat Medium */
    @font-face {
      font-family: "Montserrat";
      src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
      font-weight: 500;
      font-style: normal;
    }

    /* Montserrat SemiBold */
    @font-face {
      font-family: "Montserrat";
      src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
      font-weight: 600;
      font-style: normal;
    }

    /* Montserrat Bold */
    @font-face {
      font-family: "Montserrat";
      src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
      font-weight: 700;
      font-style: normal;
    }

    /* Montserrat ExtraBold */
    @font-face {
      font-family: "Montserrat";
      src: url("/fonts/Montserrat-ExtraBold.ttf") format("truetype");
      font-weight: 800;
      font-style: normal;
    }

    /* Montserrat Black */
    @font-face {
      font-family: "Montserrat";
      src: url("/fonts/Montserrat-Black.ttf") format("truetype");
      font-weight: 900;
      font-style: normal;
    }

    /* Montserrat Italic */
    @font-face {
      font-family: "Montserrat";
      src: url("/fonts/Montserrat-Italic.ttf") format("truetype");
      font-weight: 400;
      font-style: italic;
    }

    /* Montserrat Light Italic */
    @font-face {
      font-family: "Montserrat";
      src: url("/fonts/Montserrat-LightItalic.ttf") format("truetype");
      font-weight: 300;
      font-style: italic;
    }

    /* Montserrat ExtraLight Italic */
    @font-face {
      font-family: "Montserrat";
      src: url("/fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
      font-weight: 200;
      font-style: italic;
    }

    /* Montserrat Thin Italic */
    @font-face {
      font-family: "Montserrat";
      src: url("/fonts/Montserrat-ThinItalic.ttf") format("truetype");
      font-weight: 100;
      font-style: italic;
    }

    /* Montserrat Medium Italic */
    @font-face {
      font-family: "Montserrat";
      src: url("/fonts/Montserrat-MediumItalic.ttf") format("truetype");
      font-weight: 500;
      font-style: italic;
    }

    /* Montserrat SemiBold Italic */
    @font-face {
      font-family: "Montserrat";
      src: url("/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
      font-weight: 600;
      font-style: italic;
    }

    /* Montserrat Bold Italic */
    @font-face {
      font-family: "Montserrat";
      src: url("/fonts/Montserrat-BoldItalic.ttf") format("truetype");
      font-weight: 700;
      font-style: italic;
    }

    /* Montserrat Black Italic */
    @font-face {
      font-family: "Montserrat";
      src: url("/fonts/Montserrat-BlackItalic.ttf") format("truetype");
      font-weight: 900;
      font-style: italic;
    }

    /* Montserrat ExtraBold Italic */
    @font-face {
      font-family: "Montserrat";
      src: url("/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
      font-weight: 800;
      font-style: italic;
    }
  </style>
</html>
